<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>514858813934-b8dtn3kbpb1lm02dosbefkom1p89fttj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.514858813934-b8dtn3kbpb1lm02dosbefkom1p89fttj</string>
	<key>API_KEY</key>
	<string>AIzaSyCKrVC3wurMcceu0QSM9OoNdJ4C6mrFHmg</string>
	<key>GCM_SENDER_ID</key>
	<string>514858813934</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ng.com.shopkite.kiwee</string>
	<key>PROJECT_ID</key>
	<string>kawee-3c702</string>
	<key>STORAGE_BUCKET</key>
	<string>kawee-3c702.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:514858813934:ios:cf60cd2eec6f6e3d84a6ff</string>
	<key>DATABASE_URL</key>
	<string>https://kawee-3c702.firebaseio.com</string>
</dict>
</plist>